In [2]:
import pandas as pd
from lib.utils import get_id_nums
from lib.clean_shipper import clean_shipper
from lib.clean_consignee import clean_consignee

In [7]:
pd.set_option('display.max_rows', 100)

In [4]:
ct = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/final/countries.csv')

## Country Work

In [3]:
countries_cols = ['name', 'alpha-2', 'region', 'sub-region']
countries = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/all.csv', usecols=countries_cols, keep_default_na=False)

# Change countries index column to be alpha-2 values and rename to id
countries.set_index('alpha-2', inplace=True)
countries.index.name = 'id'

alpha_2_set = set(countries.index)

country_dict = {x[1].upper(): x[0] for x in countries.itertuples()}
country_dict['TAIWAN'] = 'TW'
country_dict['SOUTH KOREA'] = 'KR'
country_dict['SHANGHAI CN'] = 'CN'
country_dict['SHANGHAI'] = 'CN'
country_dict['SHANGHAI .'] = 'CN'
country_dict['HONG KONG .'] = 'CN'
country_dict['TAIPEI .'] = 'TW'

In [6]:
countries_file_path = '/Users/jesseputnam/cs-learning/skillstorm/project01/data/final/countries.csv'
countries.to_csv(countries_file_path)

In [7]:
header_keep_cols = ['conveyance_id', 'vessel_name', 'vessel_country_code', 'carrier_code', 'identifier', 'estimated_arrival_date', 'actual_arrival_date', 'foreign_port_of_lading', 'place_of_receipt', 'port_of_unlading', 'record_status_indicator']

header_2018_0 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2018/header_2018_part_0.csv', parse_dates=['estimated_arrival_date', 'actual_arrival_date'], usecols=header_keep_cols)

In [ ]:
# header_2018_0.info()
# header_2018_0[header_2018_0['record_status_indicator'] == 'Deleted']
# header_2018_0[['vessel_name', 'vessel_country_code']].value_counts(sort=False).tail(100)
# header_2018_0[['vessel_name', 'vessel_country_code', 'carrier_code']].value_counts(sort=False).tail(100)
# header_2018_0.loc[header_2018_0['vessel_name'] == 'EVER SIGMA']
# header_2018_0[['port_of_unlading', 'foreign_port_of_lading']].value_counts()
header_2018_0[header_2018_0['identifier'] == 2018012038125]

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,record_status_indicator,place_of_receipt,conveyance_id,actual_arrival_date
1026717,2018012038125,EGLV,GB,EVER SIGMA,"Los Angeles, California",2018-01-18,"Yantian,China (Mainland)",New,"YANTIAN, CHINA",9300398,2018-01-19

In [ ]:
header_2018_0.info()

# Shipper work

In [9]:
shipper_sample = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/sample/shipper_2018.csv')

In [4]:
shipper_keep_cols = ['identifier', 'shipper_party_name', 'shipper_party_address_1', 'shipper_party_address_2', 'shipper_party_address_3', 'shipper_party_address_4', 'country_code']

shipper_2018_0 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2018/shipper_2018_part_0.csv', index_col=False, usecols=shipper_keep_cols)

# Dealing with missing names
shipper_2018_0['shipper_party_name'].fillna('N/A', inplace=True)

In [20]:
shipper_2018_0[shipper_2018_0['shipper_party_name'] == "MR. AND/OR MRS."]

,identifier,shipper_party_name,shipper_party_address_1,shipper_party_address_2,shipper_party_address_3,shipper_party_address_4,country_code
111,20180101122,MR. AND/OR MRS.,CARLOS AND/OR LUZ GUARDADO,RODENBACHER STR. 33,DE-67661 KAISERSLAUTERN,NaN,NaN
3083058,2018032624392,MR. AND/OR MRS.,SHANNON AND/OR LORINA HARRIS,VIRGINIA BLVD.,RAMSTEIN 66877,NaN,NaN
6151178,2018061335367,MR. AND/OR MRS.,COREY AND/OR SHANNON WOODS,VERMONTSTR. BLDG 2502 - APT. B5,STUTTGART 70569,NaN,NaN
6512075,2018062150670,MR. AND/OR MRS.,MICHAEL AND/OR VERONIKA FAZEN,PARACELSUSTR. 35,DE-70771 LEINFELDEN-ECHTERDINGEN,NaN,NaN
9873738,2018091042040,MR. AND/OR MRS.,SARA AND/OR SEAN GILLESBY,LEINIGER STR. 31,DE-66919 OBERNHEIM-KIRCHENARNBACH,NaN,NaN

In [4]:
shipper_test = shipper_2018_0.apply(lambda row: clean_shipper(row, alpha_2_set, country_dict), axis=1)

In [8]:
shipper_test['shipper_party_name'].value_counts().sort_index().head(90)

shipper_party_name
 G L O B U S  INTERNATIONAL              2
!!! MUST CHANGE ACCOUNT!!!               1
#7 MAHESHWAR NAGAR #1,29 TILAK ROAD      1
#MOER MATBAACLK A.@                      1
& TRADITION A/S                          1
&#304;STANBUL SERAMIK MOZAIK LAMBA       1
&'COSTA S.R.L.                           1
&'COSTA SRL                              1
&J HOUSEHOLD ARTICLES CO., LTD           3
&K                                       1
&P FOOD INGREDIENT CO.,LTD               1
&TRADITION                               9
&TRADITION A S                           4
&TRADITION A/S                          11
&TRADITION A/S /ANDTRADITION            31
&TRADITION AS                            4
&TRADITION, &TRADITION                   2
' COSTA SRL                             28
''K'' LOGISTICS SERVICES NV              4
''K''LINE ZHENHUA LOGISTICS(TIANJIN      1
''KLAS '' LTD.                           1
''KURSKHIMVOLOKNO'' LTD                  4
'CRICOVA" SA                             9
'H AND N TEXTILES LIMITED                1
'HECNY SHIPPING LIMITED                  3
'HWL-TR-IZM HELLMANN WORLDWIDE           6
'LG CNS CO., LTD.                        3
'NINGBO YINZHOU TAIFENG GARMENTS CO      1
'OSTTOR' BETEILIGUNGS-UND HANDELSGE      2
'QINGDAO RUIJING MACHINERY CO.,LTD.      1
'REGINA' KOURANTIDIS CHR. NIKOLAOS       1
'RIDKOSNI GAZY PJSC                      1
'SHENZHEN CLEVER ELECTRONIC CO. LTD      1
'SOFIA MED' SA                           6
'STER-GAZ' WYTWARZANIE URZADZEN          1
'T ACHTERHUIS HISTORISCHE BOUWMATER      8
'TASEV SEZER GRANIT MERMER MAD.INS       1
'WINGTAI (ZHONGSHAN) CO.LTD              1
'WINNINGTON METAL AND PLASTIC MFG        1
'WUHU MATY AIR-CONDITIONING EQUIPME      1
(1) AGCO FEUCHT GMBH,                    1
(1) EXPOLANKA FREIGHT (PVT) LTD          1
(297274764)KARDEMIR DIS TICARET A       54
(297274764)KARDEMIR DIS TICARET AS      43
(ACEITES ABRIL)                          1
(AIX EN GROUP CO.,LIMITED )              1
(ALMONDELI) ALMONDELI , S.L              1
(ALQUIMIA MURCIA, S.L )                  1
(ASIA PACIFIC)                           1
(BLUEBARK) NABER, ADAM                   2
(CANONDA) THIEN PHU CO., LTD             4
(CISA-EXPORTADORA)                      26
(CY)                                     1
(FAROLIVA) FAROLIVA S.L                  1
(FORMERLY HINDUSTAN POLYAMIDES &         2
(H.D) TRADING                            3
(H.K.) FRASIER LIMITED.                  1
(H.K.)FRASIER LIMITED                    1
(HANGZHOU) HUA TONG INDUSTRIAL INC       4
(HANGZHOU) HUA TONG INDUSTRIES INC       1
(HANGZHOU) HUA TONG INDUSTRIES INC.     86
(HANGZHOU) HUA TONG INDUSTRIES INCO     32
(HANGZHOU) HUATONG INDUSTRIAL INC       27
(HANGZHOU) HUATONG INDUSTRIES INC        2
(HANGZHOU)HUA TONG INDUSTRIES INC        8
(HANGZHOU)HUA TONG INDUSTRIES INC.      77
(HANGZHOU)HUATONG INDUSTRIES INC.        1
(HORCHATA MERCADER)                      1
(ISTANBUL GLASS INDUSTRY INC.)           1
(LUXEAPERS) LUXEAPERS, S.L.              1
(MI SWACO)SAKHALIN BRANCH OF OOO T       1
(NANHAI) HONG GUANG SHENG SHOES CO.      2
(PACIFIC CUSTOM) XIAMEN PDF CO.,         2
(PATATAS LOS LEONES)                     1
(QINGDAO) HAIER MEDICAL & LABORATOR      1
(QINGDAO)HAIER MEDICAL AND LABORATO      3
(SHANGHAI) TRADING                       2
(SOCIETE DE COMMERCIALISATION DE CA      1
(SPRC) SOCIEDAD PORTUARIA REGIONAL       1
(SUSEO-DONG,19THFI.,SUSEOBLDG),          3
(TEAC CORPORATION, JAPAN)                1
(TENGZHONCITY)YUANTE COMMERCIAL AND      8
(TENGZHOUCITY)YUANTE COMMERCIAL AND      1
(ULS)UNI LOGISTICS SYSTEM              307
(USA)NI HAO CHINESE LLC (TAIWAN BRA      3
(USCI+91370200553967756C)                1
(VIET NAM)CHENG FENG ENTERPRISES         2
(WANG YANG ) C/O SHANGHAI HAPPY MOV      1
(WHOLLY OWNED BY KEYBRIDGE COMPANY       2
(WUXI ZHONGDE NEW DECORATION             1
Name: count, dtype: int64

In [6]:
shipper_test = shipper_test[['identifier', 'shipper_party_name', 'country_code']]

In [8]:
shipper_test.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 3 columns):
 #   Column              Non-Null Count     Dtype
---  ------              --------------     -----
 0   identifier          10000000 non-null  int64
 1   shipper_party_name  10000000 non-null  object
 2   country_code        3208767 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.9+ MB

### Dealing with Names

In [12]:
shipper_sample_cleaned = shipper_sample.apply(lambda row: clean_row(row, alpha_2_set, country_dict), axis=1)
shipper_sample_cleaned = shipper_sample_cleaned[['identifier', 'shipper_party_name', 'country_code']]

## Mapping names to id numbers

In [22]:
shipper_id_dict = {}
shipper_id_count = 0

for name in shipper_sample_cleaned['shipper_party_name'].unique():
    shipper_id_dict[name] = shipper_id_count
    shipper_id_count += 1

shipper_sample_cleaned['id'] = shipper_sample_cleaned['shipper_party_name'].map(shipper_id_dict)
shipper_sample_cleaned

      identifier                   shipper_party_name country_code   id
0      201801010             JET FAST COMPANY LIMITED           TW    0
1      201801011       UNION WONDERFUL MACHINERY LTD.           TW    1
2      201801012          SUMEEKO INDUSTRIES CO.,LTD.           TW    2
3      201801013             YUTY INDUSTRIES CO. LTD.           TW    3
4      201801014                   BE SOUND CO., LTD.           TW    4
..           ...                                  ...          ...  ...
494  20180101612             CHIN LIH HSING PRECISION          NaN  364
495  20180101613             CHIN LIH HSING PRECISION          NaN  364
496  20180101614  NEW LAND LIGHTING(HK) INDUSTRY CO.,          NaN  365
497  20180101615             AURORA AUTO PARTS C.,LTD           CN  366
498  20180101616                 IBS ASIA CORPORATION           HK  367

[499 rows x 4 columns]

### Combine shipper csv's to one file

In [26]:
# shipper_raw_path = '/Users/jesseputnam/cs-learning/skillstorm/project01/data/final_raw/shipper.csv'

# shipper_0 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2018/shipper_2018_part_0.csv', usecols=shipper_keep_cols)
# shipper_1 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2018/shipper_2018_part_1.csv', usecols=shipper_keep_cols)
# shipper_2 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2019/shipper_2019_part_0.csv', usecols=shipper_keep_cols)
# shipper_3 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2019/shipper_2019_part_1.csv', usecols=shipper_keep_cols)
# shipper_4 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2020/shipper_2020_part_0.csv', usecols=shipper_keep_cols)
# shipper_5 = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2020/shipper_2020_part_1.csv', usecols=shipper_keep_cols)

In [ ]:
consignee_sample = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/sample/consignee_2018.csv')
consignee_sample.info()

In [5]:
consignee_cols = ['identifier', 'consignee_name', 'consignee_address_1', 'country_code']

consignee_full = pd.read_csv('/Users/jesseputnam/cs-learning/skillstorm/project01/data/2018/consignee_2018_part_0.csv', usecols=consignee_cols)
consignee_full['consignee_name'].fillna('N/A', inplace=True)

In [ ]:
consignee_full.info(show_counts=True)

- Remove erroneous country codes

In [6]:
consignee_full_clean = consignee_full.apply(lambda row: clean_consignee(row, alpha_2_set), axis=1)

In [ ]:
consignee_full['consignee_name'].value_counts(sort=False).sort_index().head(50)

In [ ]:
consignee_full_clean['consignee_name'].value_counts(sort=False).sort_index().head(50)

In [9]:
consignee_id_dict = get_id_nums(consignee_full_clean['consignee_name'])
consignee_full_clean['id'] = consignee_full_clean['consignee_name'].map(consignee_id_dict)

In [ ]:
consignee_full_clean['id'].value_counts()